<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/chat/room.js"></script>
</head>
<body>
    <h1>chatting room</h1>
    <section id="chat-window">
        <h1>chattig window</h1>
        <div>
            <div>
                <input class="input-name" type="text">
                <button class="btn btn-conn">접속</button>
            </div>
            <div>
                <ul>
                    <li>대화창</li>
                </ul>
            </div>
            <div>
                <input type="text" class="textInput" disabled>
                <button class="btn-send">전송</button>
            </div>
        </div>
    </section>
</body>
</html>