<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
	<link href="/css/heading.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">    
    <link href="aside.css" rel="stylesheet" type="text/css">
</head>
<body>
    <aside>
        <h1 class="d:none">사이드 메뉴바</h1>
        <nav>
            <h1>고객관리</h1>
            <ul>
                <li><a href="">회원</a></li>
                <li><a href="">포인트</a></li>
                <li><a href="">별점</a></li>
            </ul>
        </nav>
        <nav>
            <h1>상품관리</h1>
            <ul>
                <li><a href="">메뉴</a></li>
                <li><a class="deco icon-category" href="">카테고리</a></li>                
            </ul>
        </nav>
        <nav>
            <h1>공지관리</h1>
            <ul>
                <li><a href="">공지사항</a></li>
                <li><a href="">이벤트</a></li>                
            </ul>
        </nav>
    </aside>
</body>
</html>