<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>ejs  페이지 입니다.</h1>
        <div>
            <div><%=test%></div>
            <div><img width="100" src="/image/8.jpg"></div>
        </div>
    </section>
</body>
</html>