<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rland.web.repository.MenuRepository">
	
	<select id="findAll" resultType="MenuView">
		select 
			*
		from (
			SELECT 
				m.id,
				m.kor_name,
				m.eng_name,
				m.price,
				m.img,
				m.reg_date ,
				m.category_id ,
				COUNT(ml.menu_id) like_count,
				nvl(a.member_id,0) `like`
			FROM
				(menu m
				LEFT JOIN menu_like ml ON (m.id = ml.menu_id))
				left JOIN (select menu_id, member_id from menu_like where member_id =#{memberId}) a ON m.id = a.menu_id 
			GROUP BY m.id
		) mv
		<where>
			<if test="categoryId!=null">
				mv.category_id = #{categoryId}
			</if>
			<if test="query!=null">
				and mv.kor_name like '%${query}%'
			</if>
		</where>
		order by mv.reg_date desc
		LIMIT #{offset}, #{size}

  </select>
  
  <select id="count" resultType="Integer">
    	select
    		count(*)
		from menu
		<where>
			<if test="categoryId!=null">
				category_id = #{categoryId}
			</if>
			<if test="query!=null">
				and kor_name like '%${query}%'
			</if>
		</where>
    	
  </select>

  <select id="findById" resultType="Menu">
    	select
    		*
    	from menu where id = #{id}
  </select>

	<insert id="addMenu" parameterType="Menu">
		INSERT INTO menu(kor_name,eng_name,price)
		values(
			#{korName},
			#{engName},
			#{price}
			)
	</insert>

	<delete id="deleteById" parameterType="Menu">
		delete from menu where id=#{id}
	</delete>

	<insert id="save" parameterType="Menu">
		INSERT INTO menu(
					kor_name
					, eng_name
					, price
					, img
					, category_id
					,reg_member_id
					)
					VALUES(
						#{korName}
						,#{engName}
						,#{price}
						,#{img}
						,#{categoryId}
						,#{regMemberId}
					)
	</insert>
</mapper>