<!DOCTYPE html>
<html lang="en">
    <header class="header md:header">
        <div class="content-box">
            <h1><a href="/index">Rland</a></h1>
            <nav class="main-menu">
                <ul class="md:d:none ">
                    <li><a class="icon icon-menu md:icon-size:3 icon-color:base-0" href="">메뉴</a></li>
                </ul>
                <ul class="d:none md:d:flex">
                    <li><a class="icon icon-cart icon-color:base-0" href="">장바구니</a></li>
                    <li><a class="icon icon-alert icon-color:base-0 icon-count-with" href="">알림<span>2</span></a></li>
                    <li sec:authorize="isAnonymous()"><a class="icon icon-person icon-color:base-0" href="/user/signin">로그인</a></li>
                    <!-- 인증되었을 경우만 나옴 -->
                    <li sec:authorize="isAuthenticated()">
                        <!-- <span sec:authentication="name">ddd</span>
                        <span th:text="${#authentication.name}">ddd</span> -->
                        <span sec:authentication="principal.email">ddd</span>
                        <!-- <span sec:authentication="email">ddd</span> -->
                        <span th:text="${#authentication.name}">ddd</span>
                        <a class="icon icon-sign-out icon-color:base-0" href="/user/logout">로그아웃</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</html>