<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="inc/layout">
<head>
    <link href="/css/components/user/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main">
        <section class="login-form">
            <h1 class="heading-7 text-align:center">Rland Login</h1>
            <div class="color:main-1" th:if="${param.error != null }">아이디 또는 비밀번호가 유효하지 않습니다.</div>
            <form action="signin" method="post">
                <fieldset>
                    <legend class="d:none">인증정보</legend>
                    <label class="d:none">아이디</label>
                    <input type="text" name="username" placeholder="아이디">
                    <label class="d:none">비밀번호</label>
                    <input class="mt:3" name="password" type="password" placeholder="비밀번호">
                </fieldset>
                <div class="mt:5">
                    <button class="btn btn-main w:1" type="submit">로그인</button>
                    <span class="w:1 d:inline-flex justify-content:center mt:3">또는</span>
                    <a class="btn w:1 mt:3 al" href="">
                        <span class="deco icon-google icon-size:3 w:1 d:inline-flex justify-content:center">구글 로그인</span></a>
                </div>
                <div class="mt:3 d:flex justify-content:center">
                    <a href="">회원가입</a>
                    <a href="" class="bl:1 bc:base-6 bls:solid ml:3 pl:3">비밀번호 찾기</a>
                </div>
            </form>
        </section>
    </main>
    
    <footer class="footer">
        <section>
            <h1 class="d:none">알랜드 회사정보</h1>
            <dl>            
                <dt class="">사업자 등록정보</dt>
                <dd>123-45-67</dd>
            
                <dt class="d:none">저작권</dt>
                <dd class="colspan:2">ⓒ2023 rland.co.kr All Rights Reserved</dd>                
            </dl>            
        </section>
    </footer>
</body>
</html>