/* 
== 순서 =====

display,
sizing,
overflow,
border,
shadow,
background,
padding,
margin 
*/

.d\:none          { display: none !important; }
.d\:inline        { display: inline !important; }
.d\:inline-block  { display: inline-block !important; }
.d\:block         { display: block !important; }
.d\:table         { display: table !important; }
.d\:table-row     { display: table-row !important; }
.d\:table-cell    { display: table-cell !important; }
.d\:flex          { display: flex !important; }
.d\:inline-flex   { display: inline-flex !important; }
.d\:unset         { display: unset !important; }
.d\:inherit       { display: inherit !important; }
.d\:initial       { display: initial !important; }

/*==== sizing =========================================================*/

.box-sizing\:border-box  { box-sizing: border-box;}
.box-sizing\:content-box { box-sizing: content-box;}
.box-sizing\:initial { box-sizing: initial;}
.box-sizing\:inherit { box-sizing: inherit;}

/*--- width ------------------------------------------------------------------*/

.w\:0    {width: 0% !important;}
.w\:1\/4   {width: 25% !important;}
.w\:1\/2   {width: 50% !important;}
.w\:3\/4   {width: 75% !important;}
.w\:4\/4,
.w\:1  {width: 100% !important;}
.w\:1\/4v   {width: 25vw !important;}
.w\:1\/2v   {width: 50vw !important;}
.w\:3\/4v   {width: 75vw !important;}
.w\:4\/4v,
.w\:1v { width: 100vw !important; }
.w\:auto {width: auto !important;} 
.w\:inherit {width: inherit !important;} 
.w\:initial {width: initial !important;} 


/*--- height ------------------------------------------------------------------*/

.h\:0 {height: 0% !important;}
.h\:1\/4 {height: 25% !important;}
.h\:1\/2 {height: 50% !important;}
.h\:3\/4 {height: 75% !important;}
.h\:4\/4,
.h\:1{height: 100% !important;}
.h\:1\/4v {height: 25vh !important;}
.h\:1\/2v {height: 50vh !important;}
.h\:3\/4v {height: 75vh !important;}
.h\:4\/4v {height: 100vh !important;}
.h\:auto {height: auto !important;}
.h\:inherit {height: inherit !important;}
.h\:initial {height: initial !important;}

/*==== over-flow ==============================================================*/

.overflow-y\:auto { overflow-y: auto !important; }
.overflow\:auto   { overflow: auto !important; }
.overflow\:hidden {  overflow: hidden !important; }

/*==== border ==============================================================*/

.border        { border: 1px solid var(--color-base-5) !important; }
.border-top    { border-top: 1px solid var(--color-base-5) !important; }
.border-right  { border-right: 1px solid var(--color-base-5) !important; }
.border-bottom { border-bottom: 1px solid var(--color-base-5)!important; }
.border-left   { border-left: 1px solid var(--color-base-5) !important; }

.border\:none, .b\:none       { border: none !important; }
.border\:1, .b\:1        { border: 1px !important; }
.border\:2, .b\:1        { border: 2px !important; }
.border\:3, .b\:1        { border: 3px !important; }
.border\:4, .b\:1        { border: 4px !important; }
.border\:4, .b\:1        { border: 5px !important; }
.border\:inherit, .b\:inherit        { border: inherit !important; }

.border-top\:none, .bt\:none    { border-top: none !important; }
.border-top\:1, .bt\:1    { border-top: 1 !important; }
.border-top\:2, .bt\:2    { border-top: 2 !important; }
.border-top\:3, .bt\:3    { border-top: 3 !important; }
.border-top\:4, .bt\:4    { border-top: 4 !important; }

.border-right\:none, .br\:none  { border-right: none !important; }
.border-right\:1, .br\:1  { border-right: 1 !important; }
.border-right\:2, .br\:2  { border-right: 2 !important; }
.border-right\:3, .br\:3  { border-right: 3 !important; }
.border-right\:4, .br\:4  { border-right: 4 !important; }

.border-bottom\:none, .bb\:none { border-bottom: none !important; }
.border-bottom\:1, .bb\:1 { border-bottom: 1 !important; }
.border-bottom\:2, .bb\:2 { border-bottom: 2 !important; }
.border-bottom\:3, .bb\:3 { border-bottom: 3 !important; }
.border-bottom\:4, .bb\:4 { border-bottom: 4 !important; }

.border-left\:0, .bl\:none  { border-left: none !important; }
.border-left\:0, .bl\:1  { border-left: 1 !important; }
.border-left\:0, .bl\:2  { border-left: 2 !important; }
.border-left\:0, .bl\:3  { border-left: 3 !important; }
.border-left\:0, .bl\:4  { border-left: 4 !important; }

/*--- border color ------------------------------------------------------------*/

.border-color\:base-0, .bc\:base-0 { border-color: var(--color-base-0) !important; }
.border-color\:base-1, .bc\:base-1 { border-color: var(--color-base-1) !important; }
.border-color\:base-2, .bc\:base-2 { border-color: var(--color-base-2) !important; }
.border-color\:base-3, .bc\:base-3 { border-color: var(--color-base-3) !important; }
.border-color\:base-4, .bc\:base-4 { border-color: var(--color-base-4) !important; }
.border-color\:base-5, .bc\:base-5 { border-color: var(--color-base-5) !important; }
.border-color\:base-6, .bc\:base-6 { border-color: var(--color-base-6) !important; }
.border-color\:base-7, .bc\:base-7 { border-color: var(--color-base-7) !important; }
.border-color\:base-8, .bc\:base-8 { border-color: var(--color-base-8) !important; }
.border-color\:base-9, .bc\:base-9 { border-color: var(--color-base-9) !important; }
.border-color\:base-10, .bc\:base-10 { border-color: var(--color-base-10) !important; }
.border-color\:base-11, .bc\:base-11 { border-color: var(--color-base-11) !important; }
.border-color\:base-12, .bc\:base-12 { border-color: var(--color-base-12) !important; }
.border-color\:base-13, .bc\:base-13 { border-color: var(--color-base-13) !important; }
.border-color\:black, .bc\:black { border-color: var(--color-black) !important; }

.border-color\:main-1, .bc\:main-1 { border-color: var(--color-main-1) !important; }
.border-color\:main-2, .bc\:main-2 { border-color: var(--color-main-2) !important; }
.border-color\:main-3, .bc\:main-3 { border-color: var(--color-main-3) !important; }
.border-color\:main-4, .bc\:main-4 { border-color: var(--color-main-4) !important; }

.border-color\:primary-1, .bc\:primary-1 { border-color: var(--color-primary-1) !important; }
.border-color\:primary-2, .bc\:primary-2 { border-color: var(--color-primary-2) !important; }
.border-color\:primary-3, .bc\:primary-3 { border-color: var(--color-primary-3) !important; }

.border-color\:secondary-1, .bc\:secondary-1 { border-color: var(--color-secondary-1) !important; }
.border-color\:secondary-2, .bc\:secondary-2 { border-color: var(--color-secondary-2) !important; }
.border-color\:secondary-3, .bc\:secondary-3 { border-color: var(--color-secondary-3) !important; }

.border-color\:accent-1, .bc\:accent-1 { border-color: var(--color-accent-1) !important; }

/*--- border style ------------------------------------------------------------*/

.border-style\:none, .bs\:none { border-style: none !important; }
.border-style\:solid, .bs\:solid { border-style: solid !important; }

.border-left-style\:solid, .bls\:solid { border-left-style : solid !important; }
.border-top-style\:solid, .bts\:solid { border-top-style : solid !important; }
.border-right-style\:solid, .brs\:solid { border-right-style : solid !important; }
.border-bottom-style\:solid, .bbs\:solid { border-bottom-style : solid !important; }

/*--- border radius ------------------------------------------------------------*/

.border-radius\:0 { border-radius: 0 !important;}
.border-radius\:1 { border-radius: 0.25rem !important; }
.border-radius\:2 { border-radius: 0.5rem !important; }
.border-radius\:3 { border-radius: 1rem !important; }

.border-tl-radius\:1 { border-top-left-radius: 0.25rem !important; border-top-right-radius: 0.25rem !important;}
.border-tl-radius\:2 { border-top-left-radius: 0.5rem !important; border-top-right-radius: 0.5rem !important;}
.border-tl-radius\:3 { border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;}
.border-tr-radius\:1 { border-top-right-radius: 0.25rem !important; border-top-right-radius: 0.25rem !important;}
.border-tr-radius\:2 { border-top-right-radius: .5rem !important; border-top-right-radius: .5rem !important;}
.border-tr-radius\:3 { border-top-right-radius: 1rem !important; border-top-right-radius: 1rem !important;}
.border-br-radius\:1 { border-bottom-right-radius: 0.25rem !important; border-bottom-right-radius: 0.25rem !important;}
.border-br-radius\:2 { border-bottom-right-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important;}
.border-br-radius\:3 { border-bottom-right-radius: 1rem !important; border-bottom-right-radius: 1rem !important;}
.border-bl-radius\:1 { border-bottom-left-radius: 0.25rem !important; border-bottom-left-radius: 0.25rem !important;}
.border-bl-radius\:2 { border-bottom-left-radius: 0.5rem !important; border-bottom-left-radius: 0.5rem !important;}
.border-bl-radius\:3 { border-bottom-left-radius: 1rem !important; border-bottom-left-radius: 1rem !important;}

.border-radius\:circle { border-radius: 50% !important;}
.border-radius\:pill { border-radius: 50rem !important;}

/*--- box-shadow ------------------------------------------------------------------*/

.box-shadow\:none {box-shadow: none !important;}
.box-shadow\:1 { box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;}
.box-shadow\:2 { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }
.box-shadow\:3 { box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;}

/* box-shadow bottom */
.box-shadow\:b1 {box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) !important;}
.box-shadow\:b2 {box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),0px 6px 12px -3px rgba(0, 0, 0, 0.07) !important;}
.box-shadow\:b3 {box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),0px 4px 6px -1px rgba(0, 0, 0, 0.1) !important;}
.box-shadow\:b4 {box-shadow: 0px 0px 0px 1px rgba(8, 34, 65, 0.03), 0px 8px 15px -2px rgba(8, 34, 65, 0.2);}

.box-shadow-primary-high {box-shadow: 0px 0px 8px #67a90f;}
.box-shadow-primary-low {box-shadow: 0px 0px 3px #bae567;}
.box-shadow-secondary-high {box-shadow: 0px 0px 8px #3b82f6;}
.box-shadow-accent-low {box-shadow: 0px 0px 8px #bfdbfe;}
.box-shadow-warning-high {box-shadow: 0px 0px 8px #ef4444;}
.box-shadow-warning-low {box-shadow: 0px 0px 3px #fecaca;}

.box-shadow-accent-high {box-shadow: 0px 0px 8px #3399f0;}
.box-shadow-accent-low {box-shadow: 0px 0px 3px #e6f5ff;}

/* === background ================================================== */

/*--- background-color ----------------------------------------------------------*/
.bg-color\:transparent {background-color: transparent!important;}

.bg-color\:base-0{ background-color: var(--color-base-0) !important; }
.bg-color\:base-1{ background-color: var(--color-base-1) !important; }
.bg-color\:base-2{ background-color: var(--color-base-2) !important; }
.bg-color\:base-3{ background-color: var(--color-base-3) !important; }
.bg-color\:base-4{ background-color: var(--color-base-4) !important; }
.bg-color\:base-5{ background-color: var(--color-base-5) !important; }
.bg-color\:base-6{ background-color: var(--color-base-6) !important; }
.bg-color\:base-7{ background-color: var(--color-base-7) !important; }
.bg-color\:base-8{ background-color: var(--color-base-8) !important; }
.bg-color\:base-9{ background-color: var(--color-base-9) !important; }
.bg-color\:base-10{ background-color: var(--color-base-10) !important; }
.bg-color\:base-11{ background-color: var(--color-base-11) !important; }
.bg-color\:base-12{ background-color: var(--color-base-12) !important; }
.bg-color\:base-13{ background-color: var(--color-base-13) !important; }
.bg-color\:black{ background-color: var(--color-black) !important; }

.bg-color\:main-1{ background-color: var(--color-main-1) !important; }
.bg-color\:main-2{ background-color: var(--color-main-2) !important; }
.bg-color\:main-3{ background-color: var(--color-main-3) !important; }
.bg-color\:main-4{ background-color: var(--color-main-4) !important; }

.bg-color\:primary-1{ background-color: var(--color-primary-1) !important; }
.bg-color\:primary-2{ background-color: var(--color-primary-2) !important; }
.bg-color\:primary-3{ background-color: var(--color-primary-3) !important; }

.bg-color\:secondary-1{ background-color: var(--color-secondary-1) !important; }
.bg-color\:secondary-2{ background-color: var(--color-secondary-2) !important; }
.bg-color\:secondary-3{ background-color: var(--color-secondary-3) !important; }

.bg-color\:accent-1{ background-color: var(--color-accent-1) !important; }

/*--- background-color ----------------------------------------------------------*/
.bg-position\:center{ background-position: center !important; }
.bg-position\:top{ background-position: top !important; }
.bg-position\:bottom{ background-position: bottom !important; }

.bg-repeat\:no-repeat{ background-repeat: no-repeat !important; }
.bg-repeat\:repeat-x{ background-repeat: repeat-x !important; }
.bg-repeat\:repeat-y{ background-repeat: repeat-y !important; }
.bg-repeat\:repeat{ background-repeat: repeat !important; }

.bg-size\:contain{ background-size: contain !important; }
.bg-size\:cover{ background-size: cover !important; }
.bg-size\:initial{ background-size: initial !important; }
.bg-size\:inherit{ background-size: inherit !important; }

.bg-clip\:border-box{ background-clip: border-box !important; }
.bg-clip\:content-box{ background-clip: content-box !important; }
.bg-clip\:padding-box{ background-clip: padding-box !important; }
.bg-clip\:initial{ background-clip: initial !important; }
.bg-clip\:inherit{ background-clip: inherit !important; }

.bg-attachment\:fixed{ background-attachment: fixed; }
.bg-attachment\:local{ background-attachment: local; }
.bg-attachment\:scroll{ background-attachment: scroll; }
.bg-attachment\:initial{ background-attachment: initial; }
.bg-attachment\:inherit{ background-attachment: inherit; }




/*=== padding ===================================================================*/

.p\:0 { padding: 0 !important; }
.p\:1 { padding: 0.25em !important; }
.p\:2 { padding: 0.5em !important; }
.p\:3 { padding: 1em !important;}
.p\:4 { padding: 1.5em !important;}
.p\:5 { padding: 2.5em !important;}
.p\:6 {padding: 3em !important;}
.p\:auto { padding: auto !important;}

.pt\:0 {padding-top: 0 !important;}
.pt\:1 {padding-top: 0.25em !important;}
.pt\:2 {padding-top: 0.5em !important;}
.pt\:3 {padding-top: 1em !important;}
.pt\:4 {padding-top: 1.5em !important;}
.pt\:5 {padding-top: 2.5em !important;}
.pt\:6 {padding-top: 3em !important;}
.pt\:auto {padding-top: auto !important;}

.pr\:0 {padding-right: 0 !important;}
.pr\:1 {padding-right: 0.25em !important;}
.pr\:2 {padding-right: 0.5em !important;}
.pr\:3 {padding-right: 1em !important;}
.pr\:4 {padding-right: 1.5em !important;}
.pr\:5 {padding-right: 2.5em !important;}
.pr\:6 {padding-right: 3em !important;}
.pr\:auto {padding-right: auto !important;}

.pb\:0 {padding-bottom: 0 !important;}
.pb\:1 {padding-bottom: 0.25em !important;}
.pb\:2 {padding-bottom: 0.5em !important;}
.pb\:3 {padding-bottom: 1em !important;}
.pb\:4 {padding-bottom: 1.5em !important;}
.pb\:5 {padding-bottom: 2.5em !important;}
.pb\:6 {padding-bottom: 3em !important;}
.pb\:auto {padding-bottom: auto !important;}

.pl\:0 {padding-top: 0 !important;}
.pl\:1 {padding-left: 0.25em !important;}
.pl\:2 {padding-left: 0.5em !important;}
.pl\:3 {padding-left: 1em !important;}
.pl\:4 {padding-left: 1.5em !important;}
.pl\:5 {padding-left: 2.5em !important;}
.pl\:6 {padding-left: 3em !important;}
.pl\:auto {padding-left: auto !important;}

.ph\:0 {padding-left: 0 !important; padding-right: 0 !important;}
.ph\:1 {padding-left: 0.25em !important; padding-right: 0.25em !important;}
.ph\:2 {padding-left: 0.5em !important; padding-right: 0.5em !important;}
.ph\:3 {padding-left: 1em !important; padding-right: 1em !important;}
.ph\:4 {padding-left: 1.5em !important; padding-right: 1.5em !important;}
.ph\:5 {padding-left: 2.5em !important; padding-right: 2.5em !important;}
.ph\:6 {padding-left: 3em !important; padding-right: 3em !important;}
.ph\:auto {padding-left: auto !important; padding-right: auto !important;}

.pv\:0 {padding-top: 0 !important; padding-bottom: 0 !important;}
.pv\:1 {padding-top: 0.25em !important; padding-bottom: 0.25em !important;}
.pv\:2 {padding-top: 0.5em !important; padding-bottom: 0.5em !important;}
.pv\:3 {padding-top: 1em !important; padding-bottom: 1em !important;}
.pv\:4 {padding-top: 1.5em !important;padding-bottom: 1.5em !important;}
.pv\:5 {padding-top: 2.5em !important;padding-bottom: 2.5em !important;}
.pv\:6 {padding-top: 3em !important; padding-bottom: 3em !important;}
.pv\:auto {padding-top: auto !important;padding-bottom: auto !important;}


/*=== margin ===================================================================*/
  
.m\:0    { margin: 0 !important; }
.m\:1    { margin: .25em!important;}
.m\:2    { margin: .5em!important;}
.m\:3    { margin: 1em!important;}
.m\:4    { margin: 1.5em!important;}
.m\:5    { margin: 3em!important;}
.m\:auto { margin: auto!important;}

.mt\:0 { margin-top: 0 !important;}
.mt\:1 { margin-top: 0.25em !important;}
.mt\:2 { margin-top: 0.5em !important;}
.mt\:3 { margin-top: 1em !important;}
.mt\:4 { margin-top: 1.5em !important;}
.mt\:5 { margin-top: 3em !important;}
.mt\:auto { margin-top: auto !important;}

.mr\:0 { margin-right: 0 !important;}
.mr\:1 { margin-right: 0.25em !important;}
.mr\:2 { margin-right: 0.5em !important;}
.mr\:3 { margin-right: 1em !important;}
.mr\:4 { margin-right: 1.5em !important;}
.mr\:5 {margin-right: 3em !important;}
.mr\:auto { margin-right: auto !important;}

.mb\:0 { margin-bottom: 0 !important;}
.mb\:1 { margin-bottom: 0.25em !important;}
.mb\:2 { margin-bottom: 0.5em !important;}
.mb\:3 { margin-bottom: 1em !important;}
.mb\:4 { margin-bottom: 1.5em !important;}
.mb\:5 { margin-bottom: 3em !important;}
.mb\:auto { margin-bottom: auto !important;}

.ml\:0 { margin-left: 0 !important; }
.ml\:1 { margin-left: .25em!important; }
.ml\:2 { margin-left: .5em!important; }
.ml\:3 { margin-left: 1em!important; }
.ml\:4 { margin-left: 1.5em!important; }
.ml\:5 { margin-left: 3em!important; }
.ml\:auto { margin-left: auto!important; }

.mh\:0 { margin-left: 0 !important; margin-right: 0 !important;}
.mh\:1 { margin-left: 0.25em !important; margin-right: 0.25em !important;}
.mh\:2 { margin-left: 0.5em !important; margin-right: 0.5em !important;}
.mh\:3 { margin-left: 1em !important; margin-right: 1em !important;}
.mh\:4 { margin-left: 1.5em !important; margin-right: 1.5em !important;}
.mh\:5 { margin-left: 3em !important; margin-right: 3em !important;}
.mh\:auto { margin-left: auto !important; margin-right: auto !important;}

.mv\:0 { margin-top: 0 !important; margin-bottom: 0 !important;}
.mv\:1 { margin-top: 0.25em !important; margin-bottom: 0.25em !important;}
.mv\:2 { margin-top: 0.5em !important; margin-bottom: 0.5em !important;}
.mv\:3 { margin-top: 1em !important; margin-bottom: 1em !important; }
.mv\:4 { margin-top: 1.5em !important;  margin-bottom: 1.5em !important;}
.mv\:5 { margin-top: 3em !important; margin-bottom: 3em !important;}
.mv\:auto { margin-top: auto !important; margin-bottom: auto !important;}



/*--- medium ------------------------------------------------------------------*/
@media (min-width: 768px) {

    .md\:max-width\:1{ max-width: 900px; }
    .md\:max-width\:2{ max-width: 1000px; }
    .md\:max-width\:3{ max-width: 1200px; }

    .md\:d\:none          { display: none !important; }
    .md\:d\:inline        { display: inline !important; }
    .md\:d\:inline-block  { display: inline-block !important; }
    .md\:d\:block         { display: block !important; }
    .md\:d\:table         { display: table !important; }
    .md\:d\:table-row     { display: table-row !important; }
    .md\:d\:table-cell    { display: table-cell !important; }
    .md\:d\:flex          { display: flex !important; }
    .md\:d\:inline-flex   { display: inline-flex !important; }
    .md\:d\:unset         { display: unset !important; }
    .md\:d\:inherit       { display: inherit !important; }
    .md\:d\:initial       { display: initial !important; }
    
    /*==== sizing =========================================================*/
    
    .md\:box-sizing\:border-box  { box-sizing: border-box;}
    .md\:box-sizing\:content-box { box-sizing: content-box;}
    .md\:box-sizing\:initial { box-sizing: initial;}
    .md\:box-sizing\:inherit { box-sizing: inherit;}
    
    /*--- width ------------------------------------------------------------------*/
    
    .md\:w\:0    {width: 0% !important;}
    .md\:w\:1\/4   {width: 25% !important;}
    .md\:w\:1\/2   {width: 50% !important;}
    .md\:w\:3\/4   {width: 75% !important;}
    .md\:w\:4\/4,
    .md\:w\:1  {width: 100% !important;}
    .md\:w\:1\/4v   {width: 25vw !important;}
    .md\:\:1\/2v   {width: 50vw !important;}
    .md\:w\:3\/4v   {width: 75vw !important;}
    .md\:w\:4\/4v,
    .md\:w\:1v { width: 100vw !important; }
    .md\:w\:auto {width: auto !important;} 
    .md\:w\:inherit {width: inherit !important;} 
    .md\:w\:initial {width: initial !important;} 
    
    
    /*--- height ------------------------------------------------------------------*/
    
    .md\:h\:0 {height: 0% !important;}
    .md\:h\:1\/4 {height: 25% !important;}
    .md\:h\:1\/2 {height: 50% !important;}
    .md\:h\:3\/4 {height: 75% !important;}
    .md\:h\:4\/4,
    .md\:h\:1{height: 100% !important;}
    .md\:h\:1\/4v {height: 25vh !important;}
    .md\:h\:1\/2v {height: 50vh !important;}
    .md\:h\:3\/4v {height: 75vh !important;}
    .md\:h\:4\/4v {height: 100vh !important;}
    .md\:h\:auto {height: auto !important;}
    .md\:\:inherit {height: inherit !important;}
    .md\:h\:initial {height: initial !important;}
    
    /*==== over-flow ==============================================================*/
    
    .md\:overflow-y\:auto { overflow-y: auto !important; }
    .md\:overflow\:auto   { overflow: auto !important; }
    .md\:overflow\:hidden {  overflow: hidden !important; }
    
    /*==== border ==============================================================*/
    
    .md\:border        { border: 1px solid var(--color-base-5) !important; }
    .md\:border-top    { border-top: 1px solid var(--color-base-5) !important; }
    .md\:border-right  { border-right: 1px solid var(--color-base-5) !important; }
    .md\:border-bottom { border-bottom: 1px solid var(--color-base-5)!important; }
    .md\:border-left   { border-left: 1px solid var(--color-base-5) !important; }
    
    .md\:border\:none       { border: none !important; }
    .md\:border\:1        { border: 1px !important; }
    .md\:border\:2        { border: 2px !important; }
    .md\:border\:3        { border: 3px !important; }
    .md\:border\:4        { border: 4px !important; }
    .md\:border\:4        { border: 5px !important; }
    .md\:border\:inherit        { border: inherit !important; }
    
    .md\:border-top\:0    { border-top: 0 !important; }
    .md\:border-top\:0    { border-top: 0 !important; }
    .md\:border-top\:0    { border-top: 0 !important; }
    .md\:border-top\:0    { border-top: 0 !important; }
    .md\:border-top\:0    { border-top: 0 !important; }
    
    .md\:border-right\:0  { border-right: 0 !important; }
    .md\:border-right\:0  { border-right: 0 !important; }
    .md\:border-right\:0  { border-right: 0 !important; }
    .md\:border-right\:0  { border-right: 0 !important; }
    .md\:border-right\:0  { border-right: 0 !important; }
    
    .md\:border-bottom\:0 { border-bottom: 0 !important; }
    .md\:border-bottom\:0 { border-bottom: 0 !important; }
    .md\:border-bottom\:0 { border-bottom: 0 !important; }
    .md\:border-bottom\:0 { border-bottom: 0 !important; }
    .md\:border-bottom\:0 { border-bottom: 0 !important; }
    
    .md\:border-left\:0   { border-left: 0 !important; }
    .md\:border-left\:0   { border-left: 0 !important; }
    .md\:border-left\:0   { border-left: 0 !important; }
    .md\:border-left\:0   { border-left: 0 !important; }
    .md\:border-left\:0   { border-left: 0 !important; }
    
    /*--- border color ------------------------------------------------------------*/
    
    .md\:border-color\:base-0 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:base-1 { border-color: var(--color-base-1) !important; }
    .md\:border-color\:base-2 { border-color: var(--color-base-2) !important; }
    .md\:border-color\:base-3 { border-color: var(--color-base-3) !important; }
    .md\:border-color\:base-4 { border-color: var(--color-base-4) !important; }
    .md\:border-color\:base-5 { border-color: var(--color-base-5) !important; }
    .md\:border-color\:base-6 { border-color: var(--color-base-6) !important; }
    .md\:border-color\:base-7 { border-color: var(--color-base-7) !important; }
    .md\:border-color\:base-8 { border-color: var(--color-base-8) !important; }
    .md\:border-color\:base-9 { border-color: var(--color-base-9) !important; }
    .md\:border-color\:base-10 { border-color: var(--color-base-10) !important; }
    .md\:border-color\:base-11 { border-color: var(--color-base-11) !important; }
    .md\:border-color\:base-12 { border-color: var(--color-base-12) !important; }
    .md\:border-color\:base-13 { border-color: var(--color-base-13) !important; }
    .md\:border-color\:black { border-color: var(--color-black) !important; }
    
    .md\:border-color\:main-1 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:main-2 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:main-3 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:main-4 { border-color: var(--color-base-0) !important; }
    
    .md\:border-color\:primary-1 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:primary-2 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:primary-3 { border-color: var(--color-base-0) !important; }
    
    .md\:border-color\:secondary-1 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:primary-2 { border-color: var(--color-base-0) !important; }
    .md\:border-color\:primary-3 { border-color: var(--color-base-0) !important; }
    
    .md\:border-color\:accent-1 { border-color: var(--color-base-0) !important; }
    
    /*--- border radius ------------------------------------------------------------*/
    
    .md\:border-radius\:0 { border-radius: 0 !important;}
    .md\:border-radius\:1 { border-radius: 0.25rem !important; }
    .md\:border-radius\:2 { border-radius: 0.5rem !important; }
    .md\:border-radius\:3 { border-radius: 1rem !important; }
    
    .md\:border-tl-radius\:1 { border-top-left-radius: 0.25rem !important; border-top-right-radius: 0.md\:25rem !important;}
    .md\:border-tl-radius\:2 { border-top-left-radius: 0.5rem !important; border-top-right-radius: 0.md\:5rem !important;}
    .md\:border-tl-radius\:3 { border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;}
    .md\:border-tr-radius\:1 { border-top-right-radius: 0.25rem !important; border-top-right-radius: 0.md\:25rem !important;}
    .md\:border-tr-radius\:2 { border-top-right-radius: .5rem !important; border-top-right-radius: .5rem !important;}
    .md\:border-tr-radius\:3 { border-top-right-radius: 1rem !important; border-top-right-radius: 1rem !important;}
    .md\:border-br-radius\:1 { border-bottom-right-radius: 0.25rem !important; border-bottom-right-radius: 0.md\:25rem !important;}
    .md\:border-br-radius\:2 { border-bottom-right-radius: 0.5rem !important; border-bottom-right-radius: 0.md\:5rem !important;}
    .md\:border-br-radius\:3 { border-bottom-right-radius: 1rem !important; border-bottom-right-radius: 1rem !important;}
    .md\:border-bl-radius\:1 { border-bottom-left-radius: 0.25rem !important; border-bottom-left-radius: 0.md\:25rem !important;}
    .md\:border-bl-radius\:2 { border-bottom-left-radius: 0.5rem !important; border-bottom-left-radius: 0.md\:5rem !important;}
    .md\:border-bl-radius\:3 { border-bottom-left-radius: 1rem !important; border-bottom-left-radius: 1rem !important;}
    
    .md\:border-radius\:circle { border-radius: 50% !important;}
    .md\:border-radius\:pill { border-radius: 50rem !important;}
    
    /*--- box-shadow ------------------------------------------------------------------*/
    
    .md\:box-shadow\:none {box-shadow: none !important;}
    .md\:box-shadow\:1 { box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;}
    .md\:box-shadow\:2 { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }
    .md\:box-shadow\:3 { box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;}
    
    /* box-shadow bottom */
    .md\:box-shadow\:b1 {box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) !important;}
    .md\:box-shadow\:b2 {box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),0px 6px 12px -3px rgba(0, 0, 0, 0.07) !important;}
    .md\:box-shadow\:b3 {box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),0px 4px 6px -1px rgba(0, 0, 0, 0.1) !important;}
    .md\:box-shadow\:b4 {box-shadow: 0px 0px 0px 1px rgba(8, 34, 65, 0.03), 0px 8px 15px -2px rgba(8, 34, 65, 0.2);}
    
    .md\:box-shadow-primary-high {box-shadow: 0px 0px 8px #67a90f;}
    .md\:box-shadow-primary-low {box-shadow: 0px 0px 3px #bae567;}
    .md\:box-shadow-secondary-high {box-shadow: 0px 0px 8px #3b82f6;}
    .md\:box-shadow-accent-low {box-shadow: 0px 0px 8px #bfdbfe;}
    .md\:box-shadow-warning-high {box-shadow: 0px 0px 8px #ef4444;}
    .md\:box-shadow-warning-low {box-shadow: 0px 0px 3px #fecaca;}
    
    .md\:box-shadow-accent-high {box-shadow: 0px 0px 8px #3399f0;}
    .md\:box-shadow-accent-low {box-shadow: 0px 0px 3px #e6f5ff;}
    
    /* === background ================================================== */
    
    /*--- background-color ----------------------------------------------------------*/
    .md\:bg-color\:transparent {background-color: transparent!important;}
    
    .md\:bg-color\:base-0{ background-color: var(--color-base-0) !important; }
    .md\:bg-color\:base-1{ background-color: var(--color-base-1) !important; }
    .md\:bg-color\:base-2{ background-color: var(--color-base-2) !important; }
    .md\:bg-color\:base-3{ background-color: var(--color-base-3) !important; }
    .md\:bg-color\:base-4{ background-color: var(--color-base-4) !important; }
    .md\:bg-color\:base-5{ background-color: var(--color-base-5) !important; }
    .md\:bg-color\:base-6{ background-color: var(--color-base-6) !important; }
    .md\:bg-color\:base-7{ background-color: var(--color-base-7) !important; }
    .md\:bg-color\:base-8{ background-color: var(--color-base-8) !important; }
    .md\:bg-color\:base-9{ background-color: var(--color-base-9) !important; }
    .md\:bg-color\:base-10{ background-color: var(--color-base-10) !important; }
    .md\:bg-color\:base-11{ background-color: var(--color-base-11) !important; }
    .md\:bg-color\:base-12{ background-color: var(--color-base-12) !important; }
    .md\:bg-color\:base-13{ background-color: var(--color-base-13) !important; }
    .md\:bg-color\:black{ background-color: var(--color-black) !important; }
    
    .md\:bg-color\:main-1{ background-color: var(--color-main-1) !important; }
    .md\:bg-color\:main-2{ background-color: var(--color-main-2) !important; }
    .md\:bg-color\:main-3{ background-color: var(--color-main-3) !important; }
    
    .md\:bg-color\:primary-1{ background-color: var(--color-primary-1) !important; }
    .md\:bg-color\:primary-2{ background-color: var(--color-primary-2) !important; }
    .md\:bg-color\:primary-3{ background-color: var(--color-primary-3) !important; }
    
    .md\:bg-color\:secondary-1{ background-color: var(--color-secondary-1) !important; }
    .md\:bg-color\:secondary-2{ background-color: var(--color-secondary-2) !important; }
    .md\:bg-color\:secondary-3{ background-color: var(--color-secondary-3) !important; }
    
    .md\:bg-color\:accent-1{ background-color: var(--color-accent-1) !important; }
    
    /*--- background-color ----------------------------------------------------------*/
    .md\:bg-position\:center{ background-position: center !important; }
    .md\:bg-position\:top{ background-position: top !important; }
    .md\:bg-position\:bottom{ background-position: bottom !important; }
    
    .md\:bg-repeat\:no-repeat{ background-repeat: no-repeat !important; }
    .md\:bg-repeat\:repeat-x{ background-repeat: repeat-x !important; }
    .md\:bg-repeat\:repeat-y{ background-repeat: repeat-y !important; }
    .md\:bg-repeat\:repeat{ background-repeat: repeat !important; }
    
    .md\:bg-size\:contain{ background-size: contain !important; }
    .md\:bg-size\:cover{ background-size: cover !important; }
    .md\:bg-size\:initial{ background-size: initial !important; }
    .md\:bg-size\:inherit{ background-size: inherit !important; }
    
    .md\:bg-clip\:border-box{ background-clip: border-box !important; }
    .md\:bg-clip\:content-box{ background-clip: content-box !important; }
    .md\:bg-clip\:padding-box{ background-clip: padding-box !important; }
    .md\:bg-clip\:initial{ background-clip: initial !important; }
    .md\:bg-clip\:inherit{ background-clip: inherit !important; }
    
    .md\:bg-attachment\:fixed{ background-attachment: fixed; }
    .md\:bg-attachment\:local{ background-attachment: local; }
    .md\:bg-attachment\:scroll{ background-attachment: scroll; }
    .md\:bg-attachment\:initial{ background-attachment: initial; }
    .md\:bg-attachment\:inherit{ background-attachment: inherit; }
    
    
    
    
    /*=== padding ===================================================================*/
    
    .md\:p\:0 { padding: 0 !important; }
    .md\:p\:1 { padding: 0.25em !important; }
    .md\:p\:2 { padding: 0.5em !important; }
    .md\:p\:3 { padding: 1em !important;}
    .md\:p\:4 { padding: 1.5em !important;}
    .md\:p\:5 { padding: 2.5em !important;}
    .md\:p\:6 {padding: 3em !important;}
    .md\:p\:auto { padding: auto !important;}
    
    .md\:pt\:0 {padding-top: 0 !important;}
    .md\:pt\:1 {padding-top: 0.25em !important;}
    .md\:pt\:2 {padding-top: 0.5em !important;}
    .md\:pt\:3 {padding-top: 1em !important;}
    .md\:pt\:4 {padding-top: 1.5em !important;}
    .md\:pt\:5 {padding-top: 2.5em !important;}
    .md\:pt\:6 {padding-top: 3em !important;}
    .md\:pt\:auto {padding-top: auto !important;}
    
    .md\:pr\:0 {padding-right: 0 !important;}
    .md\:pr\:1 {padding-right: 0.25em !important;}
    .md\:pr\:2 {padding-right: 0.5em !important;}
    .pr\:3 {padding-right: 1em !important;}
    .md\:pr\:4 {padding-right: 1.5em !important;}
    .md\:pr\:5 {padding-right: 2.5em !important;}
    .md\:pr\:6 {padding-right: 3em !important;}
    .md\:pr\:auto {padding-right: auto !important;}
    
    .md\:pb\:0 {padding-bottom: 0 !important;}
    .md\:pb\:1 {padding-bottom: 0.25em !important;}
    .md\:pb\:2 {padding-bottom: 0.5em !important;}
    .md\:pb\:3 {padding-bottom: 1em !important;}
    .md\:pb\:4 {padding-bottom: 1.5em !important;}
    .md\:pb\:5 {padding-bottom: 2.5em !important;}
    .md\:pb\:6 {padding-bottom: 3em !important;}
    .md\:pb\:auto {padding-bottom: auto !important;}
    
    .md\:pl\:0 {padding-top: 0 !important;}
    .md\:pl\:1 {padding-left: 0.25em !important;}
    .md\:pl\:2 {padding-left: 0.5em !important;}
    .md\:pl\:3 {padding-left: 1em !important;}
    .md\:pl\:4 {padding-left: 1.5em !important;}
    .md\:pl\:5 {padding-left: 2.5em !important;}
    .md\:pl\:6 {padding-left: 3em !important;}
    .md\:pl\:auto {padding-left: auto !important;}
    
    .md\:ph\:0 {padding-left: 0 !important; padding-right: 0 !important;}
    .md\:ph\:1 {padding-left: 0.25em !important; padding-right: 0.25em !important;}
    .md\:ph\:2 {padding-left: 0.5em !important; padding-right: 0.5em !important;}
    .md\:ph\:3 {padding-left: 1em !important; padding-right: 1em !important;}
    .md\:ph\:4 {padding-left: 1.5em !important; padding-right: 1.5em !important;}
    .md\:ph\:5 {padding-left: 2.5em !important; padding-right: 2.5em !important;}
    .md\:ph\:6 {padding-left: 3em !important; padding-right: 3em !important;}
    .md\:ph\:auto {padding-left: auto !important; padding-right: auto !important;}
    
    .md\:pv\:0 {padding-top: 0 !important; padding-bottom: 0 !important;}
    .md\:pv\:1 {padding-top: 0.25em !important; padding-bottom: 0.25em !important;}
    .md\:pv\:2 {padding-top: 0.5em !important; padding-bottom: 0.5em !important;}
    .md\:pv\:3 {padding-top: 1em !important; padding-bottom: 1em !important;}
    .md\:pv\:4 {padding-top: 1.5em !important;padding-bottom: 1.5em !important;}
    .md\:pv\:5 {padding-top: 2.5em !important;padding-bottom: 2.5em !important;}
    .md\:pv\:6 {padding-top: 3em !important; padding-bottom: 3em !important;}
    .md\:pv\:auto {padding-top: auto !important;padding-bottom: auto !important;}
    
    
    /*=== margin ===================================================================*/
      
    .md\:m\:0    { margin: 0 !important; }
    .md\:m\:1    { margin: .25em!important;}
    .md\:m\:2    { margin: .5em!important;}
    .md\:m\:3    { margin: 1em!important;}
    .md\:m\:4    { margin: 1.5em!important;}
    .md\:m\:5    { margin: 3em!important;}
    .md\:m\:auto { margin: auto!important;}
      
    .md\:mt\:0 { margin-top: 0 !important;}
    .md\:mt\:1 { margin-top: 0.25em !important;}
    .md\:mt\:2 { margin-top: 0.5em !important;}
    .md\:mt\:3 { margin-top: 1em !important;}
    .md\:mt\:4 { margin-top: 1.5em !important;}
    .md\:mt\:5 { margin-top: 3em !important;}
    .md\:mt\:auto { margin-top: auto !important;}
    
    .md\:mr\:0 { margin-right: 0 !important;}
    .md\:mr\:1 { margin-right: 0.25em !important;}
    .md\:mr\:2 { margin-right: 0.5em !important;}
    .md\:mr\:3 { margin-right: 1em !important;}
    .md\:mr\:4 { margin-right: 1.5em !important;}
    .md\:mr\:5 {margin-right: 3em !important;}
    .md\:mr\:auto { margin-right: auto !important;}
    
    .md\:mb\:0 { margin-bottom: 0 !important;}
    .md\:mb\:1 { margin-bottom: 0.25em !important;}
    .md\:mb\:2 { margin-bottom: 0.5em !important;}
    .md\:mb\:3 { margin-bottom: 1em !important;}
    .md\:mb\:4 { margin-bottom: 1.5em !important;}
    .md\:mb\:5 { margin-bottom: 3em !important;}
    .md\:mb\:auto { margin-bottom: auto !important;}
    
    .md\:ml\:0 { margin-left: 0 !important; }
    .md\:ml\:1 { margin-left: .25em!important; }
    .md\:ml\:2 { margin-left: .5em!important; }
    .md\:ml\:3 { margin-left: 1em!important; }
    .md\:ml\:4 { margin-left: 1.5em!important; }
    .md\:ml\:5 { margin-left: 3em!important; }
    .md\:ml\:auto { margin-left: auto!important; }
    
    .md\:mh\:0 { margin-left: 0 !important; margin-right: 0 !important;}
    .md\:mh\:1 { margin-left: 0.25em !important; margin-right: 0.25em !important;}
    .md\:mh\:2 { margin-left: 0.5em !important; margin-right: 0.5em !important;}
    .md\:mh\:3 { margin-left: 1em !important; margin-right: 1em !important;}
    .md\:mh\:4 { margin-left: 1.5em !important; margin-right: 1.5em !important;}
    .md\:mh\:5 { margin-left: 3em !important; margin-right: 3em !important;}
    .md\:mh\:auto { margin-left: auto !important; margin-right: auto !important;}
    
    .md\:mv\:0 { margin-top: 0 !important; margin-bottom: 0 !important;}
    .md\:mv\:1 { margin-top: 0.25em !important; margin-bottom: 0.25em !important;}
    .md\:mv\:2 { margin-top: 0.5em !important; margin-bottom: 0.5em !important;}
    .md\:mv\:3 { margin-top: 1em !important; margin-bottom: 1em !important; }
    .md\:mv\:4 { margin-top: 1.5em !important;  margin-bottom: 1.5em !important;}
    .md\:mv\:5 { margin-top: 3em !important; margin-bottom: 3em !important;}
    .md\:mv\:auto { margin-top: auto !important; margin-bottom: auto !important;}
    
    
}

/*--- large ------------------------------------------------------------------*/
@media (min-width: 1024px) {
    
}

