  /*--- outline ------------------------------------------------------------------*/
  .outline\:none { outline: none !important; }
  
 

.form{

}

.form
    .input{
        width: 100%;
        height: 40px;
        padding: 0 16px;
        border: 1px solid var(--color-base-4);
        border-radius: var(--radius-1);
    }

.form
    .input.half{
        width: 50%;
    }

.form
    .input.quarter{
        width: 25%;
    }
