<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="inc/layout">
<head>
    <link href="/css/components/menu/card.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/menu-filter.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/basket-status.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/detail.css" rel="stylesheet" type="text/css">
    <link href="/css/components/menu/rcmd-menu-list.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main">
        <section class="menu-detail">
            <header>
                <h1 class="d:none">메뉴 상세 정보</h1>
                <a class="deco icon:arrow_left deco-size:4 txt-al:left" href="list">목록</a>
            </header>
            
            <section class="menu-block">
                <h1 class="heading-6 mt:4 grid-column:2" th:text="${menu.korName}">카페라떼</h1>
                <h2 class="heading-3 color:base-4 mt:1" th:text="${menu.engName}" >Cafe Latte</h2>
                <div class="img-block"><img src="/image/menu/product/10.jpg"></div>
                <p class="description-block mt:2 mh:4">
                    알랜드만의 로스팅 기법으로 볶은 원두를 사용하여 
추출된 풍부한 에스프레소와 신선한 우유가 어우러진 대표 라떼
                </p>
                <div class="price-block heading-3 mt:2" th:text="${#numbers.formatInteger(menu.price,3,'COMMA') + '원'}">4500</div>
                <form>
                    <fieldset class="size-block">
                        <legend class="heading-3 text-align:left">사이즈</legend>
                        <div>
                            <label><input class="d:none" name="size" type="radio" checked>Small</label>
                            <label><input class="d:none" name="size" type="radio">Large</label>
                        </div>
                    </fieldset>
                    <fieldset class="temp-block">
                        <legend class="heading-3 text-align:left">온도</legend>
                        <div>
                            <label><input class="d:none" name="temp" type="radio">HOT</label>
                            <label><input class="d:none" name="temp" type="radio" checked>ICED</label>
                        </div>
                    </fieldset>
                    <fieldset class="quantity-block">
                        <legend class="d:none">수량</legend>
                        <button class="icon icon-minus-circle" type="submit" name="inc" value="-1">감소</button>
                        <span class="font-weight:bold ml:3">1</span>
                        <input type="hidden" name="qt">
                        <button class="icon icon-plus-circle ml:3" type="submit" name="inc" value="-1">증가</button>
                        <span class="ml:5"><span class="font-weight:bold">4,500</span>원</span>
                    </fieldset>
                    <div class="mv:4 text-align:center">
                        <input class="btn btn-size:2 btn-radius:3 md:btn-radius:0" type="submit" name="cmd" value="담기">
                        <input class="btn btn-main btn-size:2 btn-radius:3 md:btn-radius:0" type="submit" name="cmd" value="주문하기">
                    </div>
                </form>
                <form action="/menu/delete">
                    <button class="btn btn-main btn-size:2 btn-radius:3 md:btn-radius:0">삭제</button>
                    <input type="hidden" name="id" th:value="${menu.id}">
                </form>
            </section>
            
        </section>
        <!-- ------------------------------------------------------ -->

        <section class="rcmd-menu-card-list menu-card-list">
            <h1 class="heading-4">함께 추천 드리는 메뉴</h1>
            <class class="content">
                <section class="menu-card soldout">
                    <h1>
                        <a class="heading-3" href="detail?id=1">카페라떼1</a></h1>
                    <h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
                    <div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold">4,500</span>원<span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span></div>
                    <div class="img-block">
                        <a href=""><img src="/image/menu/8.jpg"></a>
                    </div>
                    <div class="like-block d:flex justify-content:flex-end">
                        <a class="icon icon-heart-fill icon-color:base-4" href="">좋아요</a>
                        <span class="font-weight:bold ml:1">2</span>
                    </div>                   
                </section>

                <section class="menu-card">
                    <h1>
                        <a class="heading-3" href="detail?id=1">카페라떼2</a></h1>
                    <h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
                    <div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold">4,500</span>원<span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span></div>
                    <div class="img-block">
                        <a href=""><img src="/image/menu/8.jpg"></a>
                    </div>
                    <div class="like-block d:flex justify-content:flex-end">
                        <a class="icon icon-heart icon-color:base-4" href="">좋아요</a>
                        <span class="font-weight:bold ml:1">2</span>
                    </div>                    
                </section>

                <section class="menu-card">
                    <h1>
                        <a class="heading-3" href="detail?id=1">카페라떼3</a></h1>
                    <h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
                    <div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold">4,500</span>원<span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span></div>
                    <div class="img-block">
                        <a href=""><img src="/image/menu/8.jpg"></a>
                    </div>
                    <div class="like-block d:flex justify-content:flex-end">
                        <a class="icon icon-heart-fill icon-color:base-4" href="">좋아요</a>
                        <span class="font-weight:bold ml:1">2</span>
                    </div>                    
                </section>
            </class>
        </section>
        <section class="basket-status">
            <h1 class="d:none">Basket Bar</h1>
            <dl class="ph:3">
                <dt>금액</dt>
                <dd class="ml:2">5,000원</dd>
                <dt class="d:none">수량</dt>
                <dd class="ml:auto"><a href="/basket/list" class="icon icon-basket_outline icon-color:base-0 icon-size:4 icon-text-with">1</a></dd>
            </dl>
        </section>
    </main>
</body>
</html>