<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="inc/layout">
    <head> 
        <link href="/css/components/menu/card.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/menu-filter.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/basket-status.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/list.css" rel="stylesheet" type="text/css">
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>   
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script type="text/babel" src="/js/menu/list-react.js"></script>
    </head>
    <body>
    <main layout:fragment="main">
        <section id="main"></section>
    </main>
</body>
</html>