<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="inc/layout">
    <head> 
        <link href="/css/components/menu/card.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/menu-filter.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/basket-status.css" rel="stylesheet" type="text/css">
        <link href="/css/components/menu/list.css" rel="stylesheet" type="text/css">
        <script src="/js/menu/list.js" defer></script>
    </head>
    <body>
    <main layout:fragment="main">
        <section class="menu-list">
            <h1 class="d:none">메뉴 검색 목록</h1>
            <div>
                <section class="menu-filter">
                    <h1>Rland Menu<span class="d:none">검색</span></h1>
            
                    <nav class="category-filter">
                        <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
                        <ul class="category-list">
                            <li>
                                <a class="sm:deco md:deco sm:icon-filter_list"
                                    th:class="${param.c}==null?'current'"
                                    th:href="@{./list}">전체메뉴</a>
                            </li>
                            <!-- th:href="@{./list(c=${c.id})}"  -->
                            <li th:each="c : ${categorys}">
                                <a class="d:none md:d:inline"
                                    th:text="${c.name}"
                                    th:data-id="${c.id}"
                                    th:href="@{./list(c=${c.id})}"
                                    th:class="${#strings.equals(param.c, c.id)? 'current' : ''}"
                                >커피</a>
                            </li>
                        </ul>
                    </nav>
                    <section class="query-filter" id="query-form">
                        <h1 class="d:none">이름 검색 폼</h1>
                        <form name="searchFrm" method="get" action="list"> 
                            <fieldset>
                                <legend class="d:none">이름 검색</legend>
                                <input  class="query-input" type="text" placeholder="메뉴 검색" value="">
                                <button class="icon icon-find">검색</button>
                            </fieldset>
                        </form>
                        <a th:href="@{/menu/add}" style="color: aliceblue;">등록</a>
                    </section>
                </section>

                <!-- ------------------------------------------------------ -->

                <section id="menu-card-list" class="menu-card-list">
                    <h1 class="d:none">메뉴 목록</h1>
                    <div class="content fade">
                        <section th:each="m : ${menus}" class="menu-card">
                            <h1>
                                <a class="heading-3" href="detail.html" th:href="@{/menu/detail(id=${m.id})}" th:text="${m.korName}">카페라떼1</a>
                            </h1>
                                
                            <h2 class="heading-2 font-weight:normal color:base-5" th:text="${m.engName}">Cafe Latte</h2>
                            <div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold" th:text="${#numbers.formatInteger(m.price,3,'COMMA') + '원'}">4500</span><span class="soldout-msg ml:auto mr:auto md:d:none">SOLD OUT</span></div>
                            <div class="img-block">
                                <a href="detail.html?id=1" th:href="@{/menu/detail(id=${m.id})}"><img src="/image/menu/8.jpg"></a>
                            </div>
                            <div class="like-block d:flex justify-content:flex-end">
                                <a class="icon icon-heart icon-color:base-4" href="" th:classappend="${m.like} ? 'icon-heart-fill'">좋아요</a>
                                <span class="font-weight:bold ml:1" th:text="${m.likeCount}">2</span>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <button>삭제</button>
                            </div>
                            <div class="pay-block d:flex">
                                <!-- <a class="icon md:icon:none icon-cart icon-color:base-0 color:base-0 btn-type:icon btn-cart md:btn-type:text" href="">담기</a> -->
                                <form action="/cart/add-menu" method="post">
                                    <input type="hidden" name="id" th:value="${m.id}">
                                    <button
                                        th:data-id="${m.id}" 
                                        th:data-kor-name="${m.korName}" 
                                        th:data-eng-name="${m.engName}" 
                                        th:data-price="${m.price}" 
                                        th:data-reg-date="${m.regDate}" 
                                        th:data-img="${m.img}" 
                                        th:data-category-id="${m.categoryId}"
                                        class="icon md:icon:none icon-cart icon-color:base-0 color:base-0 btn-type:icon btn-cart md:btn-type:text">
                                        담기</button>
                                </form>
                                <a class="icon md:icon:none icon-card icon-color:base-0 color:base-0 btn-type:icon btn-card md:btn-type:text" href="">주문하기</a>
                            </div>
                        </section>

                    </div>
                </section>
            </div>
        </section>
        <section class="mb:5">
            <h1 class="d:none">페이저</h1>
            <ul style="display:flex; justify-content:center;"
                class="n-pager"
                th:with="page=${param.p} eq null ? 1 : ${{param.p}},
                        temp=(${page}-1)/5,
                        startnum=${T(java.lang.Math).floor(temp)}*5+1,
                        lastnum=${count} mod 6 > 0 ? ${count div 6}+1 : ${count div 6}">
                
                <!-- <li>
                    <a  th:href="@{list?(p=1)}">처음으로</a>
                </li> -->
                <li>
                    <span th:if="${page} lt 6">이전 페이지</span>
                    <a th:if="${page} ge 6" th:href="@{list(p=${startnum-1})}">이전 페이지</a>
                </li>
                <li th:each="n : ${#numbers.sequence(startnum,startnum+4)}"
                    th:class="${page} eq ${n} ? 'active' " 
                    th:if="${startnum+4} lt ${lastnum}">
                    <a href="list?p=1"
                            th:href="@{list?(p=${n})}"
                            th:text="${n}">1</a>
                </li>
                <li th:each="n : ${#numbers.sequence(startnum,lastnum)}"
                    th:class="${page} eq ${n} ? 'active' "  
                    th:if="${startnum+4} gt ${lastnum}">
                    <a href="list?p=1"
                        th:href="@{list?(p=${n})}"
                        th:text="${n}">1</a>
                </li>
                <li>
                    <span th:if="${lastnum} lt ${startnum+5}">다음 페이지</span>
                    <a href="list?p=12" 
                        th:if="${lastnum} ge ${startnum+5}"
                        th:href="@{list(p=${startnum+5})}">다음 페이지</a>
                </li>
            </ul>
        </section>
        <section class="basket-status">
            <h1 class="d:none">Basket Bar</h1>
            <dl class="ph:3">
                <dt>금액</dt>
                <dd class="ml:2">5,000원</dd>
                <dt class="d:none">수량</dt>
                <dd class="ml:auto"><a href="/basket/list" class="icon icon-basket_outline icon-color:base-0 icon-size:4 icon-text-with">1</a></dd>
            </dl>
        </section>
        <script>
            console.log("body main end");
        </script>
    </main>
</body>
</html>