<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
        //Rest Parameters(받는쪽) & Spread Operator(주는쪽)
        {
            function sum(n1 , n2, ...args){
                let result=0;

                //나머지 출력
                // let length = arguments.length-2;
                // for(let i=0; i<length; i++)
                //     console.log(arguments[i+2]);

                for(let arg of args)
                    console.log(arg);

                return n1+n2;
            }

            console.log("sum", sum(2,3));
            console.log("sum", sum(2,3,5,6,7,7,8,9));

            let kors = [20,40,30];
            //spread by myself
            console.log("sum2 :" , sum(kors[0],kors[1]));

            //spread auto
            console.log("sum2 :" , sum(...kors));

        }

        //Advanced JSON #1 Array Destructuring
        {
            //undefined undefined (3) [10,20,50]
            //let kor1, kor2, kor3 = [10,20,50];

            //10 20 50
            //let [kor1, kor2, kor3] = [10,20,50];

            //10 20
            //let [kor1,kor2 /*, kor3*/] =[10,20,50];

            //10 50
            //let [kor1, , kor3] = [10,20,50];

            let arr = [10,20,50];
            let [kor1, kor3] = arr;
            arr[0] = 60;

            //배열의 값을 다시 대입
            [kor1, kor3] = arr;

            console.log(kor1, kor3);

            //swap
            let x=3;
            let y=5;

            console.log(x,y);

            [x,y] = [y,x];

            console.log(x,y);

            [x,y,z=100] = [y,x];
            
            console.log(x,y,z);
        }

        //Advanced JSON #4-2 object destructuring : Nested
        {
            let exam = {kor:10,eng:30,math:40,student:{id:1,name:'홍길동'}};
            //let name = exam.student.name;
            let{kor, student:{name}} = exam;

            console.log(kor,name);
        }

         //Advanced JSON #4-1 alias
         {
            //function print(exam){
            function print({kor,eng:english,com=90}){

                let total = kor+english+com;

                console.log("???????",kor,english,`com:${com}`,total);
            }

           // print({kor:10,eng:30,math:40});

           let exam1 = {kor:10,eng:30,math:40};
           let {kor, eng} = exam1;

           exam1.kor++;
           exam1.eng+=2;

           ({kor, eng}=exam1);

           console.log("=========",exam1,{kor, eng});

        }

        //Advanced JSON #4 object Destructuring
        {
            //function print(exam){
            function print({kor,eng,math}){
                //낱개로 뽀개기(destructuring)
                // let kor = exam.kor;
                // let eng = exam.eng;
                // let math = exam.math;
                //let {kor,eng,math} = exam;

                let total = kor+eng+math;
                console.log(kor,eng,total);
            }

            print({kor:10,eng:30,math:40});
        }


        //Advanced JSON #3 Computed property
        {
            let col ="kor";
            let eng =40;
            let math=100;

            let exam={
                [col]:10
                ,eng
                ,math
                ,total(){
                    return this.kor+this.eng+this.math
                }
            };

            console.log(exam.kor,",",exam.eng,",",exam.total());
        }

        //Advanced JSON #2 function
        {
            let kor =30;
            let eng =40;
            let math=100;

            // let exam={
            //     kor:kor,
            //     eng:eng,
            //     math:math,
            //        total:function(){}

            // }

            let exam={
                kor
                ,eng
                ,math
                ,total(){
                    return this.kor+this.eng+this.math
                }
            };

            console.log(exam.kor,",",exam.eng,",",exam.total());
        }



        //Advanced JSON #1 variable
        {
            let kor =30;
            let eng =40;
            let math=100;

            // let exam={
            //     kor:kor,
            //     eng:eng,
            //     math:math
            // }

            let exam={kor,eng, math};

            console.log(exam.kor,",",exam.eng);
        }

    </script>
</head>
<body>
    dddd
</body>
</html>