<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
	<link href="/css/heading.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">    
    <link href="card.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="menu-card">
		<h1>
			<a class="heading-3" href="detail?id=1">카페라떼</a></h1>
		<h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
		<div class="price-block d:flex align-items:flex-end"><span class="font-weight:bold">4,500</span>원<span class="ml:auto mr:auto md:d:none">SOLD OUT</span></div>
		<div class="img-block">
			<a href=""><img src="/image/menu/8.jpg"></a>
		</div>
		<div class="like-block d:flex justify-content:flex-end">
			<a class="icon icon-heart icon-color:base-4 icon-heart-fill" href="">좋아요</a>
            <span class="font-weight:bold ml:1">2</span>
		</div>
		<div class="pay-block d:flex">
			<a class="icon md:icon:none icon-cart icon-color:base-0 bg-color:main-3 color:base-0 btn-type:icon md:btn-type:text" href="">장바구니</a>
			<a class="icon md:icon:none icon-card icon-color:base-0 bg-color:accent-1 color:base-0 btn-type:icon md:btn-type:text" href="">결제하기</a>
		</div>
	</section>
    
</body>
</html>