<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
	<link href="/css/heading.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">  
    <link href="menu-filter.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="menu-filter">
        <h1>Rland Menu<span class="d:none">검색</span></h1>

        <nav class="category-filter">
            <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
            <ul>
                <li><a class="sm:deco current md:deco sm:icon-filter_list" href="">전체메뉴</a></li>
                <li><a class="d:none md:d:inline" href="">커피</a></li>
                <li><a class="d:none md:d:inline" href="">수제청</a></li>
                <li><a class="d:none md:d:inline" href="">샌드위치</a></li>
                <li><a class="d:none md:d:inline" href="">쿠키</a></li>
            </ul>
        </nav>
        <section class="query-filter">
            <h1 class="d:none">이름 검색 폼</h1>
            <form>
                <fieldset>
                    <legend class="d:none">이름 검색</legend>
                    <input type="text" placeholder="메뉴 검색">
                    <button class="icon icon-find">검색</button>
                </fieldset>
            </form>
        </section>
    </section>
</body>
</html>