<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <h1>덧셈 계산기</h1>
        <form>
            <fieldset>
                <legend>계산기 입력폼</legend>
                <div>
                    <label>x:</label>
                    <input dir="rtl" value="0">
                    <label>y:</label>
                    <input dir="rtl" value="0">
                    <span>=</span>
                    <span>0</span>
                </div>
                <hr>
                <div>
                    <input type="submit" value="초기화">
                    <input type="submit" value="계산하기">
                </div>
            </fieldset>
        </form>
    </section>

</body>

</html>