/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* font-family: 'Noto Sans KR', sans-serif; */

.footer{
    color:var(--color-base-0);
    background-color: var(--color-base-9);
    padding:var(--gap-5);

    display: flex;
    justify-content: center;
}

    .footer dl{
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 8px 5px;
    }

    .footer dt{
        justify-self: right;
    }

    .footer dt::after{
        content: ":";
    }

    .footer dt, 
    .footer dd{
        display: inline-block;
    }
