<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="unique-menu.css" rel="stylesheet" type="text/css">
   
</head>
<body>
    <section class="unique-menu">
        <h1 class="title d:none md:d:block">알랜드만의 특별함</h1>
        <div class="list">
            <article class="card left-card md:card">
                <h1>직접 만든<br><span class="fruit">과일청</span>을 맛보세요.</h1>
                <p>
                    신선한 과일과 알랜드만의 레시피로 과일향의 풍미를 충분히 느낄 수 있는 수제청을 드셔보세요.
                </p>
                <div>
                    <img src="/image/unique-fruit.png">
                </div>
            </article>
            <article class="card center-card md:card">
                <h1>우리가 구운<br><span class="cookie">수제 쿠키</span>를 만나보세요. </h1>
                <p>
                    신선한 버터 그리고 견과류를 이용하여 바삭함을 더해 매일마다 직접 구운 맛난 쿠키를 만나보세요.
                </p>
                <div>
                    <img src="/image/unique-cookie.png">
                </div>
            </article>
            <article class="card right-card md:card">
                <h1>다양한 <span class="roasting">로스팅</span>으로<br>다채로운 맛을 느껴보세요.</h1>
                <p>
                    신선한 버터 그리고 견과류를 이용하여 바삭함을 더해 매일마다 직접 구운 맛난 쿠키를 만나보세요.
                </p>
                <div>
                    <img src="/image/unique-roasting.png">
                </div>
            </article>
        </div>
    </section>
</body>
</html>